<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no,initial-scale=1.0,
maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {
            background: url("https://lms.tuit.uz/assets/images/study.svg") no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>

    <li>
        <a href="/register/lessons" th:method="GET">
            <i class="menu-icon icon-study"></i>
            <span>Mening fanlarim</span>
        </a>
    </li>

    <li>
        <a href="/register/jadval" th:method="GET">
            <i class="menu-icon fa fa-calendar"></i>
            <span>Dars jadvali</span>
        </a>
    </li>
<form action="/name" method="get">
    <button type="submit">Test</button>
</form>
</body>
</html>