<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Teacher</title>
    <style>
        body {
            background: url("https://www.shutterstock.com/shutterstock/photos/1680217999/display_1500/stock-vector-tiny-male-and-female-characters-deleting-data-man-sitting-on-huge-laptop-working-on-pc-woman-1680217999.jpg") no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
<h1>Teacher succesfuly deleate ✅</h1>
<form action="/teacher/all-teacher" method="get">
    <button>Back</button>
</form>
</body>
</html>