<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .table-container {
            display: table-cell;
            justification-content: center; /* Center the table horizontally */
            align-elements: center; /* Center the table vertically */
        }

        table {
            limit-turn: collapse;
            height: 0.1%;
            width: 60%; /* Adjust width as needed */
            /* Add other table styles as needed */
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd; /* Add border to table cells */
        }

        n {
            background-color: #f2f2f2; /* Add background color to table headers */
            /* Add more styles to table headers */
        }
    </style>
    <style>
        .panel {
            border: 1px solid #ddd; /* Add a border to the panel */
            border-radius: 4px; /* Add rounded corners to the panel */
            padding: 16px; /* Add space inside the panel */
            background-color: #f2f2f2; /* Add a background color to the panel */
        }

        .panel-header {
            font-weight: bold; /* Add font styles to title */
            bottom-margin: 8px; /* Add space below the title */
        }

        .panel-body {
            /* Add styles to the content field */
        }
    </style>
    <style>
        .panel {
            /* Add panel styles */
        }

        .tab-container {
            display: flex;
        }

        .tab {
            padding: 10px 20px;
            background-color: #f2f2f2;
            cursor: pointer;
        }

        .tab.active {
            background-color: #ddd;
        }

        .tab-content {
            padding: 10px;
        }
    </style>
</head>
<li>
    <a href="/register/lessons" th:method="GET">
        <i class="menu-icon icon-study"></i>
        <span>Mening fanlarim</span>
    </a>
</li>

<li>
    <a href="/register/jadval" th:method="GET">
        <i class="menu-icon fa fa-calendar"></i>
        <span>Dars jadvali</span>
    </a>
</li>
<br>
<br>
<br>
<body>
<table class="table-responsive" >
    <thead width="1000%"  lang="10%" class="center">
    <td width="5%">Dushanba</td>
    <td width="5%">Seshanba</td>
    <td width="5%">Chorshanba</td>
    <td width="5%">Payshanba</td>
    <td width="5%">Juma</td>
    <td width="5%">Shanba</td>
    </thead>
    <tbody>
    <tr th:each="lesson:${sciencesList}">
        <th>
        <div th:each="sciens:${lesson.getLessons()}">
            <div th:if="${sciens.getDayOfWeek()==1}">
                <div th:if="${sciens.getHourOfweek()==8}">
                    <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                    <br>
                    <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                    <br>
                    <a width="5%" th:text="${sciens.getSciences().name}"></a>
                    <br>
                    <br>
                </div>
                <div th:if="${sciens.getHourOfweek()==9}">
                    <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                    <br>
                    <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                    <br>
                    <a width="5%" th:text="${sciens.getSciences().name}"></a>  <br> <br>
                </div>

                <div th:if="${sciens.getHourOfweek()==10}">
                    <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                    <br>
                    <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                    <br>
                    <a width="5%" th:text="${sciens.getSciences().name}"></a> <br> <br>
                </div>

                <div th:if="${sciens.getHourOfweek()==11}">
                    <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                    <br>
                    <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                    <br>
                    <a width="5%" th:text="${sciens.getSciences().name}"></a>  <br> <br>
                </div>

                <div th:if="${sciens.getHourOfweek()==12}">
                    <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                    <br>
                    <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                    <br>
                    <a width="5%" th:text="${sciens.getSciences().name}"></a> <br> <br>
                </div>

                <div th:if="${sciens.getHourOfweek()==13}">
                    <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                    <br>
                    <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                    <br>
                    <a width="5%" th:text="${sciens.getSciences().name}"></a> <br> <br>
                </div>

                <div th:if="${sciens.getHourOfweek()==14}">
                    <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                    <br>
                    <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                    <br>
                    <a width="5%" th:text="${sciens.getSciences().name}"></a> <br> <br>
                </div>

                <div th:if="${sciens.getHourOfweek()==15}">
                    <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                    <br>
                    <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                    <br>
                    <a width="5%" th:text="${sciens.getSciences().name}"></a> <br> <br>
                </div>

                <div th:if="${sciens.getHourOfweek()==16}">
                    <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                    <br>
                    <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                    <br>
                    <a width="5%" th:text="${sciens.getSciences().name}"></a> <br> <br>
                </div>

                <div th:if="${sciens.getHourOfweek()==17}">
                    <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                    <br>
                    <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                    <br>
                    <a width="5%" th:text="${sciens.getSciences().name}"></a> <br> <br>
                </div>

                <div th:if="${sciens.getHourOfweek()==18}">
                    <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                    <br>
                    <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                    <br>
                    <a width="5%" th:text="${sciens.getSciences().name}"></a> <br> <br>
                </div>

                <div th:if="${sciens.getHourOfweek()==19}">
                    <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                    <br>
                    <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                    <br>
                    <a width="5%" th:text="${sciens.getSciences().name}"></a>   <br> <br>
                </div>

                <div th:if="${sciens.getHourOfweek()==20}">
                    <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                    <br>
                    <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                    <br>
                    <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>  <br>
                </div>

            </div>
        </div>
        </th>
        <th>
            <div th:each="sciens:${lesson.getLessons()}">
                <div th:if="${sciens.getDayOfWeek()==2}">
                    <div th:if="${sciens.getHourOfweek()==8}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a>
                        <br>
                    </div>
                    <div th:if="${sciens.getHourOfweek()==9}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a>  <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==10}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==11}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a>  <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==12}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==13}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==14}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==15}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==16}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==17}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==18}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==19}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a>   <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==20}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                </div>
            </div>
        </th>
        <th>
            <div th:each="sciens:${lesson.getLessons()}">
                <div th:if="${sciens.getDayOfWeek()==3}">
                    <div th:if="${sciens.getHourOfweek()==8}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a>
                        <br>
                    </div>
                    <div th:if="${sciens.getHourOfweek()==9}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a>  <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==10}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==11}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a>  <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==12}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==13}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==14}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==15}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==16}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==17}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==18}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==19}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a>   <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==20}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                </div>
            </div>
        </th>
        <th>
            <div th:each="sciens:${lesson.getLessons()}">
                <div th:if="${sciens.getDayOfWeek()==4}">
                    <div th:if="${sciens.getHourOfweek()==8}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a>
                        <br>
                    </div>
                    <div th:if="${sciens.getHourOfweek()==9}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a>  <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==10}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==11}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a>  <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==12}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==13}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==14}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==15}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==16}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==17}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==18}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==19}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a>   <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==20}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                </div>
            </div>
        </th>
        <th>
            <div th:each="sciens:${lesson.getLessons()}">
                <div th:if="${sciens.getDayOfWeek()==5}">
                    <div th:if="${sciens.getHourOfweek()==8}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a>
                        <br>
                    </div>
                    <div th:if="${sciens.getHourOfweek()==9}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a>  <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==10}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==11}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a>  <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==12}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==13}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==14}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==15}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==16}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==17}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==18}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==19}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a>   <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==20}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                </div>
            </div>
        </th>
        <th>
            <div th:each="sciens:${lesson.getLessons()}">
                <div th:if="${sciens.getDayOfWeek()==6}">
                    <div th:if="${sciens.getHourOfweek()==8}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a>
                        <br>
                    </div>
                    <div th:if="${sciens.getHourOfweek()==9}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a>  <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==10}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==11}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a>  <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==12}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==13}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==14}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==15}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==16}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==17}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==18}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==19}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a>   <br>
                    </div>

                    <div th:if="${sciens.getHourOfweek()==20}">
                        <a width="5%" th:text="${sciens.getHourOfweek()+':'+sciens.getMinutOfweek()}"></a>
                        <br>
                        <a width="5%" th:text="${'('+sciens.getRoomname()+')'}"> </a>
                        <br>
                        <a width="5%" th:text="${sciens.getSciences().name}"></a> <br>
                    </div>

                </div>
            </div>
        </th>
    </tr>
    </tbody>
</table>
</body>
</html>